<header class="break">
<h2><%= items.menu.name %></h2>
</header>


<% @items.each do |item| %>
    <p><%= link_to item.name, item_path(item) %></p>
<% end %>

<% if current_user.admin %>
    <p><%= link_to "Add Another Item", new_item_path %></p>
    <p><%= link_to "Edit Menu Name", edit_menu_path(items.menu_id), method: :get %></p>
    <p><%= link_to "Delete Menu Name", menu_path(items.menu_id), method: :delete %></p>
<% end %>